{% extends 'base.html.twig' %}

{% block pagewrapper %}
    {% set action_title = "Choose Timetable" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
        {% block otherstuff_lg12 %}
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            Choose Timetable to add Subjects
		        </div>

		        <div class="panel-body">
		            <div class="table-responsive">
	                <div class="list-group">
	                	{% for timetable in app.user.timetables %}
	                  		<a href="{{ path('add_subject', {'tbl': timetable.id }) }}" class="list-group-item list-group-item-action">{{ timetable.title }} </a>
	                	{% endfor %}
	                </div>
		            </div>
		        </div>

		    </div>

        {% endblock %}
    {% endembed %}

	<div class="modal fade" id="examModal" tabindex="-1" role="dialog" aria-labelledby="examModalLabel" aria-hidden="true" style="display: none;">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                <h4 class="modal-title" id="examModalLabel">Choose Timetable to Add Subjects</h4>
	            </div>
	            <div class="modal-body text-center">
	                <div class="list-group">
	                	{% for timetable in app.user.timetables %}
	                  		<a href="{{ path('add_subject', {'tbl': timetable.id }) }}" class="list-group-item list-group-item-action">{{ timetable.title }} </a>
	                	{% endfor %}
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	        <!-- /.modal-content -->
	    </div>
	    <!-- /.modal-dialog -->
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(window).on('load',function(){
	        $('#examModal').modal('show');
	    });
	</script>
{% endblock %}