<div class="panel panel-default" id="toPrintBar">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> {{ title }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-8">
                <div id="morris-bar-chart-2"></div>
            </div>
            <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>
<button type="button" id="sendPrintBar" class="btn btn-primary btn-block">Print Chart</button>
<hr />
