<div class="panel panel-default" id="toPrint">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> {{ title }}
    </div>
    <div class="panel-body">
    	<div>
        	<div id="morris-donut-chart"></div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
<button type="button" id="sendPrint" class="btn btn-primary btn-block">Print Chart</button>
