<h5>Lets make your Timetabling easier</h5>

<p>Hi {{user_f_name}}!</p>

<p>Thank you for creating an account with us at https://timetabler.mylepostsolutions.co.ke . Our delight is in making your job easier. </p>

<p>You can log in to your account and start creating your timetable now.</p>

<p>It will cost you only 90/= to get a master timetable, a timetable for each class and a timetable for each teacher, hustle free. </p>

<p>To start you off, You can WhatsApp us for a free code; 0705285959 </p>

<p>For any kind of inquiry, kindly</p>
<ul>
	<li>Call/message 0705285959 / 0736600033 on weekdays</li>
	<li>WhatsApp: 0705285959</li>
</ul>

<p>You can reply to this email too.</p>

<p>With Regards,</p>
<p>Myle-Post Solutions LTD.</p>