<h5>Please verify your Email Address</h5>

<p>Thank you for creating an account with us. Please verify your email and activate your account.</p>
<p><a href="https://mylepostsolutions.co.ke/register/verify/{{id}}">Verify now</a></p>

<p>With Regards,</p>
<p>Myle-Post Solutions LTD.</p>