{% extends 'base.html.twig' %}
{% block navigation %}
{% endblock %}
{% block pagewrapper %}
    {% set action_title = "Login" %}
        {% if error %}
            <div class="alert alert-warning">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}


        <div class="login-box">
          <!-- /.login-logo -->
          <div class="login-box-body">
            <div class="login-logo">
              <a href="../../index2.html"><b>Time</b>Tabler</a>
            </div>
            <p style="text-align:center;"><b>Testing:</b>'testuser@gmail.com' 'secretPWD'</p>
            <button data-toggle="modal" data-target="#video" class="btn btn-primary btn-block btn-flat">Watch Video</button>
            <p class="login-box-msg">Log in</p>

            <form action="{{ path('login') }}" method="post">
              <div class="form-group has-feedback">
                <input type="email"  name="_username" class="form-control" placeholder="Email" value="{{ last_username }}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                <input type="password" name="_password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div class="row" style="padding-left:20px;">
                <div class="col-xs-8">
                  <div class="checkbox icheck">
                    <label>
                      <input type="checkbox" name="_remember_me"> Remember Me
                    </label>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <!-- /.social-auth-links -->

            <a href="{{ path('user_registration') }}" class="text-center">New User? Register</a>

          </div>
          <!-- /.login-box-body -->
        </div>
<!-- /.login-box -->

<div class="modal modal-info fade" id="video" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QeNuYRxUUKE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{% endblock %}
